@charset "utf-8";
header h1 {
    color: #4A1F0C;
    text-align: center;
    font-size: 43px;
}

header nav {
    text-align: center;
    text-decoration: none;
    color: #8D31B0;
}



.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  
}
nav a:link {
    color: #5137D6;
    text-decoration: none;
    font-size: 20px;
}
article h2 {
    background-color: #D26338;
    color: #FFF9F9;
}

nav a:hover {
    color: #DE94E5;
}
.heroimg {
    height: 300px;
    background-image: url(%E5%9C%96%E7%89%87%E5%BD%B1%E7%89%87/6666.png);
    background-size: cover;
    background-position: 0% 26%;
    border-radius: 65px;
}
